.adjacency-list {
    margin-top: 20px;
    text-align: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .adjacency-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .adjacency-list li {
    margin: 5px 0;
  }
  